* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aliceblue;
}

.App h1 {
  text-align: center;
  text-decoration: underline;
}

.main_container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  height: 100%;
}

.table {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

td,
th {
  width: 400px;
  text-align: center;
}
